<div style="background: gainsboro">
  <nz-card nzTitle="Source" style="background: #a0a0a0">
    <div class="row" >
      <div class="col-sm-12 form-group mb-5">
        <div class="col-sm-1" style="padding-top: 10px">File EN</div>
        <div class="col-sm-6">
          <input type="file" nz-input placeholder="File..." (change)="changeFile($event, 'EN', isLoadingEN)"/>
        </div>
        <div class="col-sm-2" style="padding-top: 10px"><nz-spin nzSimple *ngIf="isLoadingVN"></nz-spin></div>
      </div>
      <div class="col-sm-12 form-group mb-5">
        <div class="col-sm-1" style="padding-top: 10px">File VN</div>
        <div class="col-sm-6">
          <input type="file" nz-input placeholder="File..." (change)="changeFile($event, 'VN', isLoadingVN)"/>
        </div>
        <div class="col-sm-2" style="padding-top: 10px"><nz-spin nzSimple *ngIf="isLoadingEN"></nz-spin></div>
      </div>
      <div class="col-sm-6 text-center">
        <button nz-button nzType="dashed" (click)="onSubmit()">Check & Submit <span *ngIf="valid2File" style="color: green" nz-icon nzType="check" nzTheme="outline"></span></button>
      </div>
    </div>
  </nz-card>
  <hr>
  <nz-card *ngIf="valid2File" [nzTitle]="'Trans:  ' + currentLine + ' / ' + (this.lstDataEN?.length - 1)" style="background: #a0a0a0">
    <div class="row form-group">
      <div class="col-sm-2">
        <input type="number" nz-input [(ngModel)]="numberLine"/>
      </div>
      <div class="col-sm-1"><button nz-button nzType="default" (click)="goTo()">Go to</button></div>
      <div class="col-sm-2"></div>
      <div class="col-sm-1"><button nz-button nzType="default" nzShape="circle" (click)="prev()" title="Previous"><span nz-icon nzType="left" nzTheme="outline"></span></button></div>
      <div class="col-sm-1"><button nz-button nzType="default" nzShape="circle" (click)="next()" title="Next"><span nz-icon nzType="right" nzTheme="outline"></span></button></div>
    </div>
    <div class="row">
      <div class="col-sm-12 mb-5">
        <h5>{{lstDataEN[currentLine]}}</h5>
      </div>
      <div class="col-sm-12 form-group">
        <textarea nz-input tabindex="0" [nzAutosize]="{ minRows: 3, maxRows: 5 }" [(ngModel)]="textAfterTrans"></textarea>
      </div>
      <div class="col-sm-6 text-center">
        <button nz-button nzType="primary" (click)="onSave()" type="submit">Lưu bản dịch</button>
      </div>
      <div class="col-sm-6 text-center">
        <button nz-button nzType="primary" (click)="onDownload()" type="submit"><span nz-icon nzType="download" nzTheme="outline"></span>Save</button>
      </div>
    </div>
  </nz-card>
</div>
